[package]
name = "forc-fmt"
version.workspace = true
description = "A `forc` plugin for running the Sway code formatter."
authors.workspace = true
edition.workspace = true
homepage.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
anyhow.workspace = true
clap = { workspace = true, features = ["derive"] }
forc-pkg.workspace = true
forc-tracing.workspace = true
forc-util.workspace = true
prettydiff.workspace = true
sway-core.workspace = true
sway-features.workspace = true
sway-utils.workspace = true
swayfmt.workspace = true
taplo.workspace = true
tracing.workspace = true

[lints]
workspace = true
