[package]
name = "forc-fmt"
version = "0.31.2"
authors = ["Fuel Labs <contact@fuel.sh>"]
edition = "2021"
homepage = "https://fuel.network/"
license = "Apache-2.0"
repository = "https://github.com/FuelLabs/sway"
description = "A `forc` plugin for running the Sway code formatter."

[dependencies]
anyhow = "1"
clap = { version = "3", features = ["derive"] }
forc-tracing = { version = "0.31.2", path = "../../forc-tracing" }
forc-util = { version = "0.31.2", path = "../../forc-util" }
prettydiff = "0.5"
sway-core = { version = "0.31.2", path = "../../sway-core" }
sway-utils = { version = "0.31.2", path = "../../sway-utils" }
swayfmt = { version = "0.31.2", path = "../../swayfmt" }
taplo = "0.7"
tracing = "0.1"
