[package]
name = "forc-test"
version = "0.35.2"
authors = ["Fuel Labs <contact@fuel.sh>"]
edition = "2021"
homepage = "https://fuel.network/"
license = "Apache-2.0"
repository = "https://github.com/FuelLabs/sway"
description = "A library for building and running Sway unit tests within Forc packages."

[dependencies]
anyhow = "1"
forc-pkg = { version = "0.35.2", path = "../forc-pkg" }
fuel-abi-types = "0.2"
fuel-tx = { workspace = true, features = ["builder"] }
fuel-vm = { workspace = true, features = ["random"] }
rand = "0.8"
sway-core = { version = "0.35.2", path = "../sway-core" }
sway-types = { version = "0.35.2", path = "../sway-types" }
