[package]
name = "sway-utils"
version = "0.38.0"
description = "Sway common utils."
authors.workspace = true
edition.workspace = true
homepage.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
serde = { version = "1.0", features = ["derive"] }