[package]
name = "sway-utils"
version.workspace = true
description = "Sway common utils."
authors.workspace = true
edition.workspace = true
homepage.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
serde = { workspace = true, features = ["derive"] }
walkdir.workspace = true

[lints]
workspace = true
