[workspace]
resolver = "2"
members = [
    "forc",
    "forc-pkg",
    "forc-plugins/forc-client",
    "forc-plugins/forc-explore",
    "forc-plugins/forc-fmt",
    "forc-plugins/forc-lsp",
    "forc-plugins/forc-doc",
    "forc-tracing",
    "forc-util",
    "scripts/examples-checker",
    "scripts/mdbook-forc-documenter",
    "sway-ast",
    "sway-core",
    "sway-error",
    "sway-ir",
    "sway-ir/sway-ir-macros",
    "sway-lsp",
    "sway-parse",
    "sway-types",
    "sway-utils",
    "swayfmt",
    "test",
    "test-sig-gen-util",
]
exclude = [
    "examples/*"
]

[profile.dev.package.sway-lsp]
debug = 2

[patch.crates-io]
fuels-core = { git = "https://github.com/FuelLabs/fuels-rs", branch = "Voxelot/fuel-core-0.13"}
fuels-signers = { git = "https://github.com/FuelLabs/fuels-rs", branch = "Voxelot/fuel-core-0.13"}
fuels-types = { git = "https://github.com/FuelLabs/fuels-rs", branch = "Voxelot/fuel-core-0.13"}
fuel-vm = { git = "https://github.com/FuelLabs/fuel-vm" }
fuel-core = { git = "https://github.com/FuelLabs/fuel-core"}
fuel-core-interfaces  = { git = "https://github.com/FuelLabs/fuel-core"}
fuel-gql-client  = { git = "https://github.com/FuelLabs/fuel-core" }
