[workspace]
resolver = "2"
members = [
    "docstrings",
    "forc",
    "forc-gm",
    "forc-pkg",
    "forc-plugins/forc-explore",
    "forc-plugins/forc-fmt",
    "forc-plugins/forc-fmt-v2",
    "forc-plugins/forc-lsp",
    "forc-util",
    "scripts/examples-checker",
    "scripts/mdbook-forc-documenter",
    "sway-core",
    "sway-fmt",
    "sway-fmt-v2",
    "sway-ir",
    "sway-lsp",
    "sway-parse",
    "sway-types",
    "sway-utils",
    "test",
    "test-sig-gen-util",
]
exclude = [
    "examples/*"
]

[profile.dev.package.sway-lsp]
debug = 2
