[workspace]
resolver = "2"
members = [
    "core-types",
    "core_lang",
    "docstrings",
    "forc",
    "formatter",
    "parser",
    "sway-server",
    "test"]

[profile.dev.package.sway-server]
debug = 2
