[workspace]
resolver = "2"
members = [
    "docstrings",
    "examples/build-all-examples",
    "forc",
    "parser",
    "sway-core",
    "sway-fmt",
    "sway-ir",
    "sway-server",
    "sway-types",
    "sway-utils",
    "test",
    "test-sig-gen-util",
]

[profile.dev.package.sway-server]
debug = 2
