[workspace]
resolver = "2"
members = [
    "core_lang",
    "core-types",
    "forc",
    "formatter",
    "fuel-abi-cli",
    "fuels-rs",
    "sway-server",
    "test"
]

[profile.dev.package.sway-server]
debug = 2
