[package]
name = "forc-lsp"
version.workspace = true
description = "A simple `forc` plugin for starting the sway language server."
authors.workspace = true
edition.workspace = true
homepage.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
anyhow.workspace = true
clap = { workspace = true, features = ["derive"] }
sway-lsp.workspace = true
tikv-jemallocator.workspace = true
tokio.workspace = true

[lints]
workspace = true
