[package]
name = "sway-core"
version = "0.20.2"
authors = ["Fuel Labs <contact@fuel.sh>"]
edition = "2021"
homepage = "https://fuel.network/"
license = "Apache-2.0"
repository = "https://github.com/FuelLabs/sway"
description = "Sway core language."

[dependencies]
clap = { version = "3.1", features = ["derive"], optional = true }
derivative = "2.2.0"
dirs = "3.0"
either = "1.6"
fuel-asm = "0.8"
fuel-crypto = "0.6"
fuel-tx = "0.18"
fuel-types = "0.5"
fuel-vm = "0.15"
hex = { version = "0.4", optional = true }
im = "15.0"
itertools = "0.10"
lazy_static = "1.4"
petgraph = "0.6"
prettydiff = "0.5"
serde = { version = "1.0", features = ["derive"] }
sha2 = "0.9"
smallvec = "1.7"
sway-ast = { version = "0.20.2", path = "../sway-ast" }
sway-ir = { version = "0.20.2", path = "../sway-ir" }
sway-parse = { version = "0.20.2", path = "../sway-parse" }
sway-types = { version = "0.20.2", path = "../sway-types" }
sway-utils = { version = "0.20.2", path = "../sway-utils" }
thiserror = "1.0"
tracing = "0.1"
uint = "0.9"
vec1 = "1.8.0"
