[package]
name = "sway-core"
version = "0.2.1"
authors = ["Fuel Labs <contact@fuel.sh>"]
edition = "2018"
homepage = "https://fuel.network/"
license = "Apache-2.0"
repository = "https://github.com/FuelLabs/sway"
description = "Sway core language."

[features]
selector-debug = ["structopt", "hex"]

[dependencies]
derivative = "2.2.0"
either = "1.6"
fuel-asm = "0.1"
fuel-vm = "0.1"
hex = { version = "0.4", optional = true }
lazy_static = "1.4"
line-col = "0.2"
pest = { git = "https://github.com/canndrew/pest", rev = "51f47bbaccea15458ad6ac3cd5421d6c9f4f6279" }
pest_derive = { git = "https://github.com/canndrew/pest", rev = "51f47bbaccea15458ad6ac3cd5421d6c9f4f6279" }
petgraph = "0.5"
sha2 = "0.9"
smallvec = "1.7"
source-span = "2.4"
structopt = { version = "0.3", default-features = false, optional = true }
sway-types = { version = "0.2.1", path = "../sway-types" }
thiserror = "1.0"
uuid-b64 = "0.1"

[[bin]]
name = "selector-debug"
path = "utils/selector_debug.rs"
required-features = ["selector-debug"]
