[package]
name = "forc-pkg"
version = "0.16.1"
authors = ["Fuel Labs <contact@fuel.sh>"]
edition = "2021"
homepage = "https://fuel.network/"
license = "Apache-2.0"
repository = "https://github.com/FuelLabs/sway"
description = "Building, locking, fetching and updating Sway projects as Forc packages."

[dependencies]
anyhow = "1"
forc-util = { version = "0.16.1", path = "../forc-util" }
fuels-types = "0.12"
git2 = { version = "0.14", features = ["vendored-libgit2", "vendored-openssl"] }
petgraph = { version = "0.6", features = ["serde-1"] }
semver = { version = "1.0", features = ["serde"] }
serde = { version = "1.0", features = ["derive"] }
serde_ignored = "0.1"
sway-core = { version = "0.16.1", path = "../sway-core" }
sway-utils = { version = "0.16.1", path = "../sway-utils" }
toml = "0.5"
tracing = "0.1"
url = { version = "2.2", features = ["serde"] }
walkdir = "2"
