[package]
name = "sway-ir"
version = "0.16.1"
authors = ["Fuel Labs <contact@fuel.sh>"]
edition = "2021"
homepage = "https://fuel.network/"
license = "Apache-2.0"
repository = "https://github.com/FuelLabs/sway"
description = "Sway intermediate representation."

[dependencies]
filecheck = "0.5"
generational-arena = "0.2"
peg = "0.7"
sway-types = { version = "0.16.1", path = "../sway-types" }
tracing = "0.1"
