[package]
name = "sway-ir"
version = "0.49.3"
description = "Sway intermediate representation."
authors.workspace = true
edition.workspace = true
homepage.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
anyhow = "1.0"
downcast-rs = "1.2.0"
filecheck = "0.5"
generational-arena = "0.2"
itertools = "0.10.3"
once_cell = "1.18.0"
peg = "0.7"
prettydiff = "0.6.4"
rustc-hash = "1.1.0"
sway-ir-macros = { version = "0.49.3", path = "sway-ir-macros" }
sway-types = { version = "0.49.3", path = "../sway-types" }
sway-utils = { version = "0.49.3", path = "../sway-utils" }
