[package]
name = "sway-ir"
version = "0.25.3"
authors = ["Fuel Labs <contact@fuel.sh>"]
edition = "2021"
homepage = "https://fuel.network/"
license = "Apache-2.0"
repository = "https://github.com/FuelLabs/sway"
description = "Sway intermediate representation."

[dependencies]
anyhow = "1.0"
filecheck = "0.5"
generational-arena = "0.2"
peg = "0.7"
rustc-hash = "1.1.0"
sway-ir-macros = { version = "0.25.3", path = "sway-ir-macros" }
sway-types = { version = "0.25.3", path = "../sway-types" }
