[package]
name = "sway-ir"
version = "0.4.0"
authors = ["Fuel Labs <contact@fuel.sh>"]
edition = "2021"
homepage = "https://fuel.network/"
license = "Apache-2.0"
repository = "https://github.com/FuelLabs/sway"
description = "Sway intermediate representation."

[[bin]]
name = "opt"

[dependencies]
generational-arena = "0.2"
peg = "0.7"
pest = { version = "3.0.4", package = "fuel-pest" }
prettydiff = "0.5"
sway-types = { version = "0.4.0", path = "../sway-types" }
