[package]
name = "sway-ir"
version = "0.41.0"
description = "Sway intermediate representation."
authors.workspace = true
edition.workspace = true
homepage.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
anyhow = "1.0"
downcast-rs = "1.2.0"
filecheck = "0.5"
generational-arena = "0.2"
peg = "0.7"
rustc-hash = "1.1.0"
sway-ir-macros = { version = "0.41.0", path = "sway-ir-macros" }
sway-types = { version = "0.41.0", path = "../sway-types" }
sway-utils = { version = "0.41.0", path = "../sway-utils" }
