[package]
name = "forc-doc"
version = "0.50.0"
description = "Build the documentation for the local package and all dependencies. The output is placed in `out/doc` in the same format as the project."
authors.workspace = true
edition.workspace = true
homepage.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
anyhow = "1.0.65"
clap = { version = "4.0.18", features = ["derive"] }
colored = "2.0.0"
comrak = "0.16"
forc-pkg = { version = "0.50.0", path = "../../forc-pkg" }
forc-util = { version = "0.50.0", path = "../../forc-util" }
horrorshow = "0.8.4"
include_dir = "0.7.3"
minifier = "0.3.0"
opener = "0.5.0"
serde = "1.0"
serde_json = "1.0"
sway-ast = { version = "0.50.0", path = "../../sway-ast" }
sway-core = { version = "0.50.0", path = "../../sway-core" }
sway-lsp = { version = "0.50.0", path = "../../sway-lsp" }
sway-types = { version = "0.50.0", path = "../../sway-types" }
swayfmt = { version = "0.50.0", path = "../../swayfmt" }

[dev-dependencies]
dir_indexer = "0.0.2"
expect-test = "1.4.1"
forc = { version = "0.50.0", path = "../../forc", features = ["test"] }
