[package]
name = "forc-client"
version = "0.35.2"
authors = ["Fuel Labs <contact@fuel.sh>"]
edition = "2021"
homepage = "https://fuel.network/"
license = "Apache-2.0"
repository = "https://github.com/FuelLabs/sway"
description = "A `forc` plugin for interacting with a Fuel node."

[dependencies]
anyhow = "1"
async-trait = "0.1.58"
chrono = { version = "0.4", default-features = false, features = ["std"] }
clap = { version = "3", features = ["derive", "env"] }
devault = "0.1"
forc = { version = "0.35.2", path = "../../forc" }
forc-pkg = { version = "0.35.2", path = "../../forc-pkg" }
forc-tracing = { version = "0.35.2", path = "../../forc-tracing" }
forc-tx = { version = "0.35.2", path = "../forc-tx" }
forc-util = { version = "0.35.2", path = "../../forc-util" }
fuel-core-client = { workspace = true, default-features = false }
fuel-crypto = { workspace = true }
fuel-tx = { workspace = true, features = ["builder"] }
fuel-vm = { workspace = true }
fuels-core = { workspace = true }
fuels-signers = { workspace = true }
fuels-types = { workspace = true }
futures = "0.3"
hex = "0.4.3"
serde = "1.0"
serde_json = "1"
sway-core = { version = "0.35.2", path = "../../sway-core" }
sway-types = { version = "0.35.2", path = "../../sway-types" }
sway-utils = { version = "0.35.2", path = "../../sway-utils" }
tokio = { version = "1.8", features = ["macros", "rt-multi-thread", "process"] }
tracing = "0.1"

[[bin]]
name = "forc-deploy"
path = "src/bin/deploy.rs"

[[bin]]
name = "forc-run"
path = "src/bin/run.rs"

[[bin]]
name = "forc-submit"
path = "src/bin/submit.rs"

[lib]
path = "src/lib.rs"
