[package]
name = "forc-client"
version.workspace = true
description = "A `forc` plugin for interacting with a Fuel node."
authors.workspace = true
edition.workspace = true
homepage.workspace = true
license.workspace = true
repository.workspace = true

[lib]
path = "src/lib.rs"

[[bin]]
name = "forc-deploy"
path = "src/bin/deploy.rs"

[[bin]]
name = "forc-run"
path = "src/bin/run.rs"

[[bin]]
name = "forc-submit"
path = "src/bin/submit.rs"

[[bin]]
name = "forc-call"
path = "src/bin/call.rs"

[dependencies]
ansiterm.workspace = true
anyhow.workspace = true
async-trait.workspace = true
aws-config.workspace = true
aws-sdk-kms.workspace = true
chrono = { workspace = true, features = ["std"] }
clap = { workspace = true, features = ["derive", "env"] }
devault.workspace = true
dialoguer.workspace = true
either.workspace = true
forc.workspace = true
forc-debug.workspace = true
forc-pkg.workspace = true
forc-tracing.workspace = true
forc-tx.workspace = true
forc-util = { workspace = true, features = ["tx"] }
forc-wallet.workspace = true
fuel-abi-types.workspace = true
fuel-core-client = { workspace = true, features = ["subscriptions"] }
fuel-core-storage = { workspace = true }
fuel-core-types.workspace = true
fuel-crypto.workspace = true
fuel-tx = { workspace = true, features = ["test-helpers"] }
fuel-vm.workspace = true
fuels.workspace = true
fuels-accounts.workspace = true
fuels-core.workspace = true
futures.workspace = true
hex.workspace = true
k256.workspace = true
rand.workspace = true
regex.workspace = true
reqwest = { workspace = true }
rpassword.workspace = true
serde.workspace = true
serde_json.workspace = true
sway-ast.workspace = true
sway-core.workspace = true
sway-features.workspace = true
sway-parse.workspace = true
sway-types.workspace = true
sway-utils.workspace = true
tempfile.workspace = true
tokio = { workspace = true, features = [
    "macros",
    "process",
    "rt-multi-thread",
] }
toml_edit.workspace = true
tracing.workspace = true
url.workspace = true

[build-dependencies]
regex.workspace = true

[dev-dependencies]
portpicker.workspace = true
pretty_assertions.workspace = true
rexpect.workspace = true
