[package]
name = "forc-client"
version = "0.22.1"
authors = ["Fuel Labs <contact@fuel.sh>"]
edition = "2021"
homepage = "https://fuel.network/"
license = "Apache-2.0"
repository = "https://github.com/FuelLabs/sway"
description = "A `forc` plugin for interacting with a Fuel node."

[dependencies]
anyhow = "1"
clap = { version = "3", features = ["derive", "env"] }
forc-pkg = { version = "0.22.1", path = "../../forc-pkg" }
forc-util = { version = "0.22.1", path = "../../forc-util" }
fuel-crypto = "0.6"
fuel-gql-client = { version = "0.10", default-features = false }
fuel-tx = "0.18"
fuel-vm = "0.15"
fuels-core = "0.21" 
fuels-signers = "0.21"
fuels-types = "0.21"
futures = "0.3"
hex = "0.4.3"
serde = "1.0"
serde_json = "1.0.73"
sway-core = { version = "0.22.1", path = "../../sway-core" }
sway-types = { version = "0.22.1", path = "../../sway-types" }
sway-utils = { version = "0.22.1", path = "../../sway-utils" }
tokio = { version = "1.8", features = ["macros", "rt-multi-thread", "process"] }
tracing = "0.1"


[[bin]]
name = "forc-deploy"
path = "src/bin/deploy/main.rs"

[[bin]]
name = "forc-run"
path = "src/bin/run/main.rs"

[lib]
path = "src/lib.rs"
