[package]
name = "forc-tx"
version.workspace = true
description = "A `forc` plugin for constructing transactions."
authors.workspace = true
edition.workspace = true
homepage.workspace = true
license.workspace = true
repository.workspace = true

[lib]
path = "src/lib.rs"

[[bin]]
name = "forc-tx"
path = "src/main.rs"

[dependencies]
anyhow.workspace = true
clap = { workspace = true, features = ["derive", "env"] }
devault.workspace = true
forc-types.workspace = true
forc-util = { workspace = true, features = ["tx"] }
fuel-tx = { workspace = true, features = ["random", "test-helpers"] }
fuel-types = { workspace = true, features = ["serde"] }
fuels-core = { workspace = true }
serde.workspace = true
serde_json.workspace = true
thiserror.workspace = true

[lints]
workspace = true
