[package]
name = "core_lang"
version = "0.1.0"
authors = ["Alex <alex.hansen@fuel.sh>"]
edition = "2018"
rust = "1.50"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
#pest = "2.0"
pest_derive = "2.0"
pest = { git = "https://github.com/sezna/pest.git" , rev = "8aa58791f759daf4caee26e8560e862df5a6afb7" }
thiserror = "1.0"
either = "1.6"
Inflector = "0.11"
petgraph = "0.5"
uuid-b64 = "0.1"
fuel-asm = { git = "ssh://git@github.com/FuelLabs/fuel-asm.git" }
fuel-vm = { git = "ssh://git@github.com/FuelLabs/fuel-vm.git" }
sha2 = "0.9"
derivative = "2.2.0"
