[package]
name = "forc-util"
version = "0.26.1"
authors = ["Fuel Labs <contact@fuel.sh>"]
edition = "2021"
homepage = "https://fuel.network/"
license = "Apache-2.0"
repository = "https://github.com/FuelLabs/sway"
description = "Utility items shared between forc crates."

[dependencies]
annotate-snippets = { version = "0.9", features = ["color"] }
ansi_term = "0.12"
anyhow = "1"
dirs = "3.0.2"
sway-core = { version = "0.26.1", path = "../sway-core" }
sway-error = { version = "0.26.1", path = "../sway-error" }
sway-types = { version = "0.26.1", path = "../sway-types" }
sway-utils = { version = "0.26.1", path = "../sway-utils" }
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["ansi", "env-filter", "json"] }
unicode-xid = "0.2.2"
