[package]
authors = ["Alex Hansen <alex.hansen@fuel.sh>"]
edition = "2018"
name = "forc"
rust = "1.50"
version = "0.1.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
core_lang = {path = "../core_lang"}
formatter = {path = "../formatter"}
fuel-tx = {git = "ssh://git@github.com/FuelLabs/fuel-tx.git"}
fuel-vm = {git = "ssh://git@github.com/FuelLabs/fuel-vm.git"}
hex = "0.4.3"
line-col = "0.2"
#pest = "2.1"
fuel-asm = {git = "ssh://git@github.com/FuelLabs/fuel-asm.git"}
pest = {git = "https://github.com/sezna/pest.git", rev = "8aa58791f759daf4caee26e8560e862df5a6afb7"}
serde = {version = "1.0", features = ["derive"]}
source-span = "2.4"
structopt = "0.3"
term-table = "1.3"
termcolor = "1.1"
toml = "0.5"
whoami = "1.1"
dirs = "3.0.2"
curl = "0.4.38"
flate2 = "1.0.20"
tar = "0.4.35"
anyhow = "1.0.41"