[package]
name = "forc"
version = "0.19.2"
authors = ["Fuel Labs <contact@fuel.sh>"]
edition = "2021"
homepage = "https://fuel.network/"
license = "Apache-2.0"
repository = "https://github.com/FuelLabs/sway"
description = "Fuel Orchestrator."

[lib]
name = "forc"
path = "src/lib.rs"

[[bin]]
name = "forc"
path = "src/main.rs"

[dependencies]
annotate-snippets = { version = "0.9", features = ["color"] }
anyhow = "1.0.41"
clap = { version = "3.1", features = ["cargo", "derive", "env"] }
clap_complete = "3.1"
forc-pkg = { version = "0.19.2", path = "../forc-pkg" }
forc-util = { version = "0.19.2", path = "../forc-util" }
fs_extra = "1.2"
fuel-asm = "0.8"
fuel-crypto = "0.6"
fuel-gql-client = { version = "0.10", default-features = false }
fuel-tx = "0.18"
fuel-vm = "0.15"
futures = "0.3"
hex = "0.4.3"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0.73"
sway-core = { version = "0.19.2", path = "../sway-core" }
sway-types = { version = "0.19.2", path = "../sway-types" }
sway-utils = { version = "0.19.2", path = "../sway-utils" }
term-table = "1.3"
tokio = { version = "1.8.0", features = ["macros", "rt-multi-thread", "process"] }
toml = "0.5"
toml_edit = "0.14"
tracing = "0.1"
url = "2.2"
uwuify = { version = "^0.2", optional = true }
walkdir = "2.3"
whoami = "1.1"

[features]
default = []
test = []
util = []
uwu = ["uwuify"]
