[package]
authors = ["Alex Hansen <alex.hansen@fuel.sh>"]
edition = "2018"
name = "forc"
rust = "1.50"
version = "0.1.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
core_lang = {path = "../core_lang"}
line-col = "0.2"
#pest = "2.1"
pest = { git = "https://github.com/sezna/pest.git" , rev = "8aa58791f759daf4caee26e8560e862df5a6afb7" }
serde = {version = "1.0", features = ["derive"]}
source-span = "2.4"
structopt = "0.3"
termcolor = "1.1"
toml = "0.5"
whoami = "1.1"
fuel-asm = { git = "ssh://git@github.com/FuelLabs/fuel-asm.git" }
term-table = "1.3"
