[package]
name = "forc"
version = "0.1.0"
authors = ["Fuel Labs <contact@fuel.sh>"]
edition = "2018"
homepage = "https://fuel.network/"
license = "Apache-2.0"
repository = "https://github.com/FuelLabs/sway"
description = "Fuel Orchestrator."

[dependencies]
annotate-snippets = { version = "0.9", features = ["color"] } # used for formating error/warning print
anyhow = "1.0.41"
sway-core = { path = "../sway-core", version = "0.1" }
curl = "0.4.38"
dirs = "3.0.2"
flate2 = "1.0.20"
sway-fmt = { path = "../sway-fmt" }
fuel-asm = "0.1" 
fuel-client = { version = "0.1", default-features = false }
fuel-tx = "0.1"
fuel-vm = "0.1"
futures = "0.3"
hex = "0.4.3"
fuel-pest = "3.0"
prettydiff = "0.4.0"
reqwest = { version = "0.11.4", features = ["json"] }
semver = "1.0.3"
serde = {version = "1.0", features = ["derive"]}
serde_json = "*"
source-span = "2.4"
structopt = "0.3"
sway-server = { path = "../sway-server", version = "0.1" }
sway-utils = { path = "../sway-utils", version = "0.1" }
sway-types = { path = "../sway-types", version = "0.1" }
tar = "0.4.35"
term-table = "1.3"
termcolor = "1.1"
tokio = { version = "1.8.0", features = ["macros", "rt-multi-thread", "process"] }
toml = "0.5"
whoami = "1.1"

[features]
default = []
test = []
util = []
