[package]
name = "sway-lsp"
version = "0.6.1"
authors = ["Fuel Labs <contact@fuel.sh>"]
edition = "2021"
homepage = "https://fuel.network/"
license = "Apache-2.0"
repository = "https://github.com/FuelLabs/sway"
description = "LSP server for Sway."

[dependencies]
dashmap = "4.0.2"
forc-util = { version = "0.6.1", path = "../forc-util" }
tower-lsp = "0.16.0"
ropey = "1.2"
serde_json = "1.0.60"
sway-core = { version = "0.6.1", path = "../sway-core" }
sway-fmt = { version = "0.6.1", path = "../sway-fmt" }
sway-types = { version = "0.6.1", path = "../sway-types" }
sway-utils = { version = "0.6.1", path = "../sway-utils" }
tokio = { version = "1.3", features = ["io-std", "io-util", "macros", "net", "rt-multi-thread", "sync", "time"] }
