[package]
name = "sway-lsp"
version = "0.33.1"
authors = ["Fuel Labs <contact@fuel.sh>"]
edition = "2021"
homepage = "https://fuel.network/"
license = "Apache-2.0"
repository = "https://github.com/FuelLabs/sway"
description = "LSP server for Sway."

[dependencies]
anyhow = "1.0.41"
dashmap = "5.4"
forc-pkg = { version = "0.33.1", path = "../forc-pkg" }
forc-tracing = { version = "0.33.1", path = "../forc-tracing" }
notify = "5.0.0"
notify-debouncer-mini = { version = "0.2.0" }
parking_lot = "0.12.1"
ropey = "1.2"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0.60"
sway-ast = { version = "0.33.1", path = "../sway-ast" }
sway-core = { version = "0.33.1", path = "../sway-core" }
sway-error = { version = "0.33.1", path = "../sway-error" }
sway-parse = { version = "0.33.1", path = "../sway-parse" }
sway-types = { version = "0.33.1", path = "../sway-types" }
sway-utils = { version = "0.33.1", path = "../sway-utils" }
swayfmt = { version = "0.33.1", path = "../swayfmt" }
tempfile = "3"
thiserror = "1.0.30"
tokio = { version = "1.3", features = ["io-std", "io-util", "macros", "net", "rt-multi-thread", "sync", "time"] }
toml_edit = "0.19"
tower-lsp = { version = "0.18", features = ["proposed"] }
tracing = "0.1"

[dev-dependencies]
assert-json-diff = "2.0"
async-trait = "0.1"
dirs = "4.0"
futures = { version = "0.3", default-features = false, features = ["std", "async-await"] }
tower = { version = "0.4.12", default-features = false, features = ["util"] }
