name: Codspeed Benchmarks

on:
  push:
    branches:
      - "master"
  pull_request:
    paths:
       - forc-plugins/forc-lsp/**
       - sway-lsp/**
       - forc-pkg/**
       - sway-core/**
       - forc-plugins/forc-doc/**
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  benchmarks:
    runs-on: buildjet-4vcpu-ubuntu-2204
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: buildjet/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-codspeed

      - name: Build the benchmark targets
        run: |
          cargo codspeed build -p sway-lsp
          cargo codspeed build -p forc-doc

      - name: Run the benchmarks
        uses: CodSpeedHQ/action@v3
        with:
          run: |
            cargo codspeed run -p sway-lsp
            cargo codspeed run -p forc-doc
          token: ${{ secrets.CODSPEED_TOKEN }}
