name: Compile and Test

on: pull_request

env:
  CARGO_TERM_COLOR: always
  CARGO_NET_GIT_FETCH_WITH_CLI: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup SSH agent
        uses: webfactory/ssh-agent@v0.5.2
        with:
          ssh-private-key: |
            ${{ secrets.PRIVATE_KEY_FUEL_ASM }}
            ${{ secrets.PRIVATE_KEY_FUEL_TX }}
            ${{ secrets.PRIVATE_KEY_FUEL_VM }}
            ${{ secrets.PRIVATE_KEY_FUEL_CORE }}
            ${{ secrets.PRIVATE_KEY_FUEL_STORAGE }}
            ${{ secrets.PRIVATE_KEY_FUEL_TYPES }}

      - name: Install toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Install rustfmt
        run: rustup component add rustfmt

      - name: Set git config
        run: |
          git config --global core.bigfilethreshold 100m

      - name: Check formatting
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all --verbose -- --check

      - name: Clone and build fuel-core
        run: |
          git clone git@github.com:FuelLabs/fuel-core
          (cd fuel-core && cargo build -p fuel-core)

      - name: Run fuel-core
        run: |
          ./fuel-core/target/debug/fuel-core &

      - name: Build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --verbose
        env:
          RUSTFLAGS: "-D warnings"

      - name: Run tests
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --verbose

      - name: Build test suite
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --bin test

      - name: Run test suite
        run: |
          ./target/debug/test
