name: CI

on:
  push:
    branches:
      - master
  pull_request:
  release:
    types: [published]

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: -D warnings
  REGISTRY: ghcr.io

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Cancel Previous Runs
      uses: styfle/cancel-workflow-action@0.9.1
      with:
        access_token: ${{ github.token }}

    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Install toolchain
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
        override: true

    # Build caching action
    - uses: Swatinem/rust-cache@v1

    - name: Install rustfmt
      run: rustup component add rustfmt

    - name: Check formatting
      uses: actions-rs/cargo@v1
      with:
        command: fmt
        args: --all --verbose -- --check

    - name: Check build
      uses: actions-rs/cargo@v1
      with:
        command: check
        args: --verbose --all-targets

    - name: Check Clippy Lints
      uses: actions-rs/cargo@v1
      with:
        command: clippy
        args: --verbose --all-targets

    - name: Install fuel-core for tests
      uses: baptiste0928/cargo-install@v1
      with:
        crate: fuel-core
        version: "0.8"

    - name: Run tests
      uses: actions-rs/cargo@v1
      with:
        command: test
        args: --verbose --all-targets

    - name: Install Cargo.toml linter
      uses: baptiste0928/cargo-install@v1
      with:
        crate: cargo-toml-lint
        version: "0.1"

    - name: Run Cargo.toml linter
      run: git ls-files | grep Cargo.toml$ | xargs --verbose -n 1 cargo-toml-lint

  publish:
    # Only do this job if publishing a release
    needs: build
    if: github.event_name == 'release' && github.event.action == 'published'
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Install toolchain
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        override: true

    - name: Verify tag version
      run: |
        cargo install toml-cli
        ./.github/workflows/scripts/verify_tag.sh ${{ github.ref_name }} Cargo.toml
        ./.github/workflows/scripts/verify_tag.sh ${{ github.ref_name }} client/Cargo.toml
    - name: Publish crate
      uses: katyo/publish-crates@v1
      with:
          publish-delay: 30000
          registry-token: ${{ secrets.CARGO_REGISTRY_TOKEN }}
          no-verify: false
