name: Clippy Check

on: 
  pull_request:
    path: 'sway'

jobs:
  clippy_check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - run: rustup component add clippy

      - name: rust-clippy-check
        uses: actions-rs/clippy-check@v1.0.7
        with:
          token: ${{ github.token }}
          args: --all-features
