name: github pages

on:
  push:
    branches:
      - master
      - braqzen-2443
    tags:
      - v*

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: Swatinem/rust-cache@v1
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
      - name: Install Forc
        uses: actions-rs/cargo@v1
        with:
          command: install
          args: --debug --path ./forc
      - name: Install Forc plugins
        run: |
          cargo install --debug --path ./forc-plugins/forc-fmt 
          cargo install --debug --path ./forc-plugins/forc-lsp 
          cargo install --debug --path ./forc-plugins/forc-client
          cargo install --debug forc-explore
      - name: Install mdbook-forc-documenter
        uses: actions-rs/cargo@v1
        with:
          command: install
          args: --debug --path ./scripts/mdbook-forc-documenter

      - name: Setup mdBook
        uses: peaceiris/actions-mdbook@v1
        with:
          mdbook-version: "0.4.15"

      - run: MDBOOK_preprocessor__FORC_documenter__STRICT="true" mdbook build docs/book

      - name: Deploy master book
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/book
          destination_dir: master/book
        if: github.ref == 'refs/heads/master'

      - name: Deploy master reference
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/reference
          destination_dir: master/reference
        if: github.ref == 'refs/heads/master'

      - name: Get tag
        id: branch_name
        run: |
          echo ::set-output name=BRANCH_NAME::${GITHUB_REF#refs/tags/}
        if: startsWith(github.ref, 'refs/tags')

      - name: Deploy book tag
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/book
          destination_dir: ${{ steps.branch_name.outputs.BRANCH_NAME }}/book
        if: startsWith(github.ref, 'refs/tags')

      - name: Deploy reference tag
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/reference
          destination_dir: ${{ steps.branch_name.outputs.BRANCH_NAME }}/reference
        if: startsWith(github.ref, 'refs/tags')

      - name: Create latest HTML redirect file
        if: startsWith(github.ref, 'refs/tags')
        run: |
          mkdir ./latest
          cat > ./latest/index.html <<EOF
          <!DOCTYPE html>
          <meta charset="utf-8">
          <meta http-equiv="refresh" content="0; URL=../${{ steps.branch_name.outputs.BRANCH_NAME }}/">
          <link rel="canonical" href="../${{ steps.branch_name.outputs.BRANCH_NAME }}/">
          EOF

      - name: Set latest to point to tag
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./latest/
          destination_dir: ./latest/
        if: startsWith(github.ref, 'refs/tags')
