name: Nightly Cargo Audit

on:
  schedule:
    - cron: '0 0 * * *'

jobs:
  cargo_audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rs/audit-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
